stages:
  - build
  - publish

variables:
  NODE_VERSION: '22'

default:
  image: node:${NODE_VERSION}
  before_script:
    - yarn install --frozen-lockfile

build:
  stage: build
  script:
    - yarn build
  artifacts:
    paths:
      - dist
      - package.json
      - yarn.lock
  only:
    - tags

publish:
  stage: publish
  needs:
    - build
  before_script: []
  id_tokens:
    NPM_ID_TOKEN:
      aud: "npm:registry.npmjs.org"
  script:
    - npm install -g npm@latest
    - npm publish --provenance --access public
  only:
    - tags
