stages:
  - test
  - build
  - publish

variables:
  NODE_VERSION: '20'

default:
  image: node:${NODE_VERSION}

test:
  stage: test
  script:
    - npm ci
    - npm run lint
  only:
    - tags

build:
  stage: build
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist
      - package.json
      - package-lock.json
  only:
    - tags

publish:
  stage: publish
  needs:
    - build
  id_tokens:
    NPM_ID_TOKEN:
      aud: "npm:registry.npmjs.org"
  script:
    - npm install -g npm@latest

    - npm ci
    - npm run build --if-present

    - npm publish
  only:
    - tags
