.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  min-width: var(--icon-size);
  min-height: var(--icon-size);

  &.small {
    --icon-size: 16px;
  }

  &.medium {
    --icon-size: 24px;
  }

  &.large {
    --icon-size: 32px;
  }
}
