.select-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 260px;
  height: 100%;
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border-primary);
  border-radius: var(--RoundingM);

  &-empty {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 4px;
    color: var(--color-text-secondary);
  }

  &-header {
    padding: 12px 12px 4px 12px;
  }

  &-subheader {
    display: flex;
    justify-content: flex-end;
    padding: 8px 12px;
    border-bottom: 1px solid var(--color-divider-primary);
  }

  &-items {
    display: grid;
    grid-auto-rows: max-content;
    padding: 4px 8px;
    height: fit-content;
    overflow-y: auto;

    &.hasScroll{
      width: calc(100% - 2px);
      padding-right: 3px;
    }
  }

  &-create {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &-caption {
      font: var(--font-title-sb-12);
      color: var(--color-text-secondary);
    }

    &-control {
      display: flex;
    }

    &-input {
      border-radius: var(--RoundingM) 0 0 var(--RoundingM);
    }

    &-button {
      border-radius: 0 var(--RoundingM) var(--RoundingM) 0;
    }
  }

  &-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    background-color: var(--color-bg-primary);
    padding: 12px 16px 16px 16px;
  }

  &-description {
    font: var(--font-body-r-12);
    color: var(--color-text-secondary);
  }
}
