.modal {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-secondary);
  box-shadow: var(--shadow-primary);
  position: relative;
  z-index: 2;
  max-height: 90dvh;
  max-width: min(var(--modal-max-width, 640px), 90dvw);
  width: 100%;
  border-radius: var(--RoundingL);

  &-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  font: var(--font-heading-sb-18);
  padding: 24px;
  border-bottom: 1px solid var(--color-divider-primary);
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  width: 100%;
  overflow: auto;
}

.close-button {
  margin-left: auto;
}

.footer {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 24px;
  border-top: 1px solid var(--color-divider-primary);
}

.overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--color-bg-opacity);
}
