.table {
  --cell-shadow-width: 8px;
  --cell-shadow-gradient: linear-gradient(270deg, rgb(255 255 255 / 0%) 27.41%, rgb(229 229 229 / 60%) 100%);

  display: grid;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  grid-auto-rows: min-content;
  overflow-x: auto;

  &.showLoader {
    grid-template-rows: min-content 1fr min-content;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-primary);
    width: 100%;
    height: 100%;
    padding: 8px 8px 0 8px;
    border-radius: 8px;
    background: var(--color-bg-secondary);

    &.withoutWrapper {
      padding: 0;
      background: transparent;
      box-shadow: none;
      border-radius: 0;
    }
  }

  &-header {
    display: contents;

    &.sticky {
      display: grid;
      height: fit-content;
      position: sticky;
      top: 0;
      grid-column: 1 / -1;
      z-index: 1;
    }
  }

  &-body {
    display: contents;

    &.hidden {
      display: none;
    }
  }

  &-plug {
    grid-column: 1 / -1;
  }
}
