.tooltip {
  display: inline-block;
  overflow-wrap: break-word;
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 999;
  overflow: visible;

  font: var(--font-body-r-12);
  background-color: var(--color-bg-tertiary);
  color: var(--color-text-tooltip);
}
